[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "content/post/external_data/ambient_anim"]
	path = content/post/external_data/ambient_anim
	url = /home/chief/R/ambient_anim/.git
